body {
  background: linear-gradient(to right, #b300ff, #2d30ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

h1 {
  padding: 1rem 2rem 0 2rem;
}

h3,
h1 {
  margin: 0;
}

button {
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  width: 90%;
  color: #fff;
  font-size: 1rem;
}

button:nth-of-type(1) {
  background-color: rgb(65, 190, 65);
  &:hover {
    background-color: rgba(65, 190, 65, 0.8);
  }
}

button:nth-of-type(2) {
  background-color: rgb(223, 84, 84);
  &:hover {
    background-color: rgba(223, 84, 84, 0.8);
  }
}

button:nth-of-type(3) {
  background-color: rgb(62, 164, 241);
  &:hover {
    background-color: rgba(62, 164, 241, 0.8);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
